.App {
  text-align: center;
  background-color: rgb(31, 31, 31);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.random-task{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 12px;
  background-color: #6969697c;
}

